@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,100&display=swap");
@font-face {
  font-family: "Paz";
  src: url("../fuente/Paz-Regular\ \(1\).ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Paz", sans-serif;
  color: #e5e9ee;
}
/* NAVEGACION */
nav {
  opacity: 1;
  position: fixed;
  z-index: 3;
  display: flex;
}
nav ul {
  text-align: center;
  color: #132f57;
  list-style-type: none;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: white;
  padding-top: 0.5%;
}
nav ul:hover {
  list-style-type: none;
  color: #132f57;
  opacity: 1;
}
nav ul li {
  display: inline;
  text-align: center;
  margin: 0 1.2rem 0 0;
}
nav ul li a img {
  width: 1.8rem;
}
nav ul li a:hover {
  color: #7e8288;
  opacity: 1;
  z-index: 1;
}
.navMobile {
  display: flex;
  border-bottom: 0.2rem solid #132f57;
}
.navDesktop {
  display: none;
}
/* SECCIONES */
body {
  background-color: #132f57;
}
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "inicio" "galeria" "bio" "statement" "contacto" "pie";
}
#inicio {
  grid-area: inicio;
}
#proyectos {
  grid-area: galeria;
}
#bio {
  grid-area: bio;
}
#statement {
  grid-area: statement;
}
#contacto {
  grid-area: contacto;
}
footer {
  grid-area: pie;
}
/* INICIO  */
#inicio {
  background-image: url("../img/index/winter_I_love_you.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
#inicio h1 a {
  font-weight: 400;
  font-size: 2rem;
  color: #e6eaf0;
}
#inicio h1 {
  font-weight: 400;
  margin-right: 45vw;
  margin-top: 40vh;
  font-size: 2rem;
  color: #e6eaf0;
}
#inicio a {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.inicioFondo {
  height: 100vh;
  position: relative;
  z-index: 2;
}
/* PROYECTOS  */
#proyectos {
  width: 100%;
  height: auto;
  background-color: #e5e9ee;
  text-decoration-color: #132f57;
  block-size: auto;
  padding-top: 8%;
}
#proyectos p a {
  width: auto;
  color: #132f57;
}
#proyectos h2 {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
}
#proyectos a {
  font-size: 1.8rem;
  color: #e5e9ee;
}
#proyectos .fondoEnlace {
  color: #132f57;
  background-color: #e5e9ee;
  width: 100%;
  padding: 2%;
  opacity: 0.8;
  border-radius: 1rem;
}
#proyectos .carousel-item:hover {
  opacity: 0.6;
}
/* BIO  */
#bio {
  padding-top: 8%;
}
#bio a {
  color: #e5e9ee;
  font-size: 2.5rem;
  margin: 3rem;
}
#bio a:hover {
  color: #7e8288;
}
#bio p {
  padding-bottom: 1%;
  /* word-spacing: .1%; */
}
#bio img {
  border: 0.15rem solid #e5e9ee;
}
/* STATEMENT  */
#statement {
  padding-top: 8%;
  width: auto;
  background-color: #e5e9ee;
  text-decoration-color: #132f57;
}
#statement p {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1%;
}
#statement h2 {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
}
#statement a {
  font-size: 2.5rem;
}
#statement .cajaTexto {
  width: 100%;
  /* border:.2rem solid #132f57;
  border-radius: 1rem; */
  margin: 5%;
}
#statement img {
  width: 70%;
  border-radius: 2rem;
  margin: 5%;
  transition: all 2s;
}
#statement img:hover {
  width: 80%;
}
/* CONTACTO  */
#contacto {
  background-image: url("../img/index/contacto.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contacto .transparencia {
  width: 100%;
  height: auto;
  font-size: 1.7rem;
  background-color: #0b1829;
  opacity: 0.8;
}
#contacto .caja {
  height: 100%;
  font-size: 1.7rem;
  background-color: #0b1829;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  vertical-align: bottom;
}
#contacto .formulario {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}
#contacto ul li {
  text-align: left;
  margin: 0 1.2rem 0 0;
  list-style-type: none;
  margin: 5%;
}
#contacto ul li a {
  margin: 0 1.2rem 0 0;
  color: #e5e9ee;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
}
#contacto ul li a:hover {
  color: #7e8288;
}
#contacto h2 {
  padding-top: 8%;
}
#contacto input {
  font-size: 1.7rem;
  font-weight: bold;
  color: #132f57;
  padding-left: 2%;
}
#contacto textarea {
  font-size: 1.5rem;
  font-weight: bold;
  color: #132f57;
  padding-left: 2%;
  padding-top: 2%;
}
#contacto .boton {
  border: 0.5rem solid #0b1829;
  opacity: 1;
  background-color: #0b1829;
  color: #e5e9ee;
  transition: all 1s;
}
#contacto .boton:hover {
  color: #7e8288;
  font-size: 2rem;
}
.desktop {
  display: none;
}
/* CV  */
#cv {
  background-color: #e5e9ee;
  font-family: "Josefin";
}
#cv h1 {
  background-color: #132f57;
  color: #e5e9ee;
  font-family: "Josefin";
  padding: 1%;
  margin-bottom: 2%;
  font-size: 2rem;
}
#cv h3 {
  background-color: #132f57;
  color: #e5e9ee;
  font-family: "Josefin";
  padding: 1%;
  margin-bottom: 1%;
  font-size: 1.1rem;
  width: 100%;
}
hr {
  color: #132f57;
}
#cv p {
  background-color: #e5e9ee;
  color: #132f57;
  font-family: "Josefin";
  text-align: left;
  font-size: 1rem;
}
#cv a {
  background-color: #e5e9ee;
  color: #132f57;
  font-family: "Josefin";
  text-align: left;
  font-size: 1rem;
}
#cv a:hover {
  color: #7e8288;
}
/* PARQUES NACIONALES */
#parquesNacionales {
  padding-top: 8%;
  width: auto;
  background-color: #e5e9ee;
  text-decoration-color: #132f57;
}
#parquesNacionales p {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1%;
}
#parquesNacionales h2 {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
}
#parquesNacionales a {
  font-size: 2.5rem;
}
#parquesNacionales .centrarImagenes {
  justify-self: center;
}
#parquesNacionales figcaption {
  font-size: 1.5rem;
  color: #132f57;
  font-weight: bold;
}
/* #parquesNacionales .visible{
        display: none;
        visibility: hidden;
        transition: all 2s; */
/* } */
#parquesNacionales .visible:hover {
  display: block;
  visibility: visible;
  z-index: 100000;
}
/* COLOUR ME IN */
#colourMeIn {
  padding-top: 8%;
  width: auto;
  background-color: #e5e9ee;
  text-decoration-color: #132f57;
}
#colourMeIn p {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1%;
}
#colourMeIn h2 {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
}
#colourMeIn div {
  margin: 0;
  padding: 0;
}
/* SUELOS DEL SUR */
#suelosDelSur {
  padding-top: 8%;
  width: auto;
  background-color: #e5e9ee;
  text-decoration-color: #132f57;
}
#suelosDelSur p {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
}
#suelosDelSur .p {
  color: #132f57;
}
#suelosDelSur h2 {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57;
}
#suelosDelSur img {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
  border-radius: 20%;
}
#suelosDelSur iframe {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 8%;
  padding-left: 8%;
  border-radius: 15%;
}
/* FOOTER  */
footer {
  width: 100%;
  height: 2.5rem;
  display: flex;
  text-justify: center;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.3rem;
}
footer a {
  width: 100%;
  color: #e5e9ee;
  text-justify: center;
  margin: auto;
  font-size: 1.7rem;
}
/* ETIQUETAS */
h1 {
  font-size: 2rem;
  color: #e6eaf0;
}
h2 {
  margin-left: 10%;
  font-weight: bold;
  line-height: 4rem;
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 100;
  text-align: justify;
}
a {
  font-size: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: #132f57;
}
a:hover {
  color: #7e8288;
}
/* CLASES */
.centrado {
  text-align: center;
}
.textIzquierda {
  text-align: left;
}
.marginIzquierda {
  margin-left: 10rem;
}
.textDerecha {
  text-align: right;
}
.imgRedonda {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  border: 0.3rem solid #132f57;
  background-color: #e5e9ee;
}
.imgRedonda.xl {
  width: 15rem;
  height: 15rem;
  border-radius: 15rem;
  margin: 3%;
}
.imgRedonda.floatLeft {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 3%;
}
.imgRedonda.floatRigth {
  margin: 5%;
}
.negrita {
  font-weight: bold;
  padding-top: 2%;
}
.flechaGrande {
  font-size: 2.5rem;
}
#rotarFlecha {
  transform: rotate(180deg);
}
/* QUERY BREAK */
/* 280 768 1024  display:none 415 a 834*/
@media only screen and (min-width: 768px) {
  /* NAV  */
  .navMobile {
    display: none;
  }
  .navDesktop {
    display: flex;
  }
  nav ul {
    text-align: right;
    color: #132f57;
    list-style-type: none;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 20vh;
    background-color: initial;
  }
  .atrasDeImagen {
    width: 100%;
    height: 2.5rem;
    background: #e5e9ee;
    position: fixed;
    z-index: 1;
    color: #132f57;
    border-bottom: 0.05rem solid #132f57;
  }
  /* INICIO   */
  /* #inicio h1{
    margin-right: 40%;
    margin-top: 11rem;
  } */
  /* PROYECTOS */
  #proyectos {
    padding-top: 3%;
  }
  #proyectos a {
    font-size: 2.2rem;
  }
  .imgRedonda .xl {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
    margin: 3%;
  }
  .imgRedonda {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    border: 0.3rem solid #132f57;
    margin-left: 5%;
    margin-right: 3%;
    background-color: #e5e9ee;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #e5e9ee;
    text-align: center;
  }
  /* BIO  */
  #bio {
    padding-top: 3%;
  }
  .imgRedonda.floatLeft {
    float: left;
  }
  /* STATEMENT */
  #statement .caja {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #statement .cajaTexto {
    width: 40%;
    /* border:.2rem solid #132f57;
    border-radius: 1rem; */
  }
  #statement img {
    width: 70%;
    border-radius: 2rem;
  }
  #statement {
    padding-top: 3%;
  }
  /* CONTACTO */
  #contacto h2 {
    padding-top: 3%;
  }
  #contacto .caja {
    height: 79vh;
  }
  /* CV  */
  .imgRedonda.floatRigth {
    float: right;
    margin-top: 5%;
    margin-right: 15%;
  }
  #cv h3 {
    font-size: 1.7rem;
  }
  #cv p {
    font-size: 1.2rem;
  }
  #cv a {
    font-size: 1.2rem;
  }
  /* PARQUES NACIONALES  */
  #parquesNacionales {
    padding-top: 3%;
  }
  /* COLOUR ME IN  */
  #colourMeIn {
    padding-top: 3%;
  }
  /* SUELOS DEL SUR  */
  #suelosDelSur {
    padding-top: 3%;
  }
  #suelosDelSur p {
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
  }
  #suelosDelSur img {
    padding-right: 3%;
    padding-left: 3%;
  }
  #suelosDelSur .cajaFigure {
    padding-right: 3%;
    padding-left: 3%;
    align-self: center;
    /* justify-self: center; */
  }
  #suelosDelSur .imgDefor {
    width: 100%;
  }
  #suelosDelSur iframe {
    padding-right: 2.1%;
    padding-left: 2.1%;
    border-radius: 5%;
  }
  /* FOOTER  */
  footer {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 950px) {
  /* CONTACTO */
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media only screen and (min-width: 320px) {
  nav ul li a img {
    width: 2.2rem;
  }
}
