/* CV  */
#bodyTienda * {
    font-family: "Josefin";
    color: $azul;
    background-color: $blanco;
    @import "_variables.scss";
/* NAVEGACION */
.card{
  background-color: $blanco;
}

.bloqueLogo{
  width: 80%;
  padding-left: 3rem; 
}
.fondoCarrito{
  background: green;
  height: 100vh;
}
input{
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 1;
  background-color: $azul;
  color: $blanco;
  border-radius: 1rem;
  outline: none;
  
}
.activo{
  opacity: 1;
}
.btn{
  background-color: $azul;
  color: $blanco;
  border-radius: 1rem;
  outline: none;
  &:hover{
    opacity: .7;
    outline: none;
    box-shadow: none;
  }
}
p{
  font-size: 1rem;
}
.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
  background-color: $blanco;
  color: $blanco;
  .active{
    background-color:  $gris;
    opacity: .9;
    border-radius: 2rem;
  }
  
}
.fondo{
  background: $azul;
}
.navbar-bar {align-items: flex-end;
  
}
.navbar-dark .navbar-brand {
  font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    color: $azul;
    
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
  
 }
.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: $blanco;
  a {
    font-size: 1.2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    color: $azul;
    margin: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
      opacity: .7;
    }
    
    }
    @include desktop{
      a {
        font-size: .8rem;
        margin-right: 2rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }}
}
nav {
  opacity: 1;
  position: fixed;
  display: flex;
  .sombra {
    text-shadow: 0px 1px $azul;
  }
  a {
  font-size: .7rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: unset;
  color: $blanco;
  margin-right: 2rem;
  
  &:hover {
    opacity: .7;
  }
  }
}
.algo{
    align-items: flex-end !important;
    margin-right: 2rem;
    justify-content: flex-end;
}
.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  background: $azul;
}

}


#tienda {
    padding-bottom: $footer;
    padding: $padmob;
    
}