// npm run watch-css
// IMPORTS 
@import "_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "_fonts";
@import "_general.scss";
@import "_navYfooter.scss";
@import "_index.scss";
@import "_proyectos.scss";
@import "_animacion.scss";
